.Catalogue {
  margin: 4em 0 12em;
}

.Catalogue__item {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 300px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Catalogue__item {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Catalogue__item {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Catalogue__item {
    width: 25%;
  }
}
