.Footer {
  font-size: 0.8em;
  background-color: white;
  color: white;
  background-color: lightgray;
  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    height: 100%;
  }
}

.Social__buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 2em;
  padding: 3em 1.5em;
}
