.Header {
  background: white;
  color: black;
  margin: 1em 0;
  border-bottom: 1px solid black;

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  }
  // border-bottom: 3px solid white;
  // box-shadow: 0 16px 0 black;
  // transform: rotateZ(8deg) skew(-2deg, -10deg) translateY(-10%);
}

.Header__body {
  margin: 2em 0;
}

.Header__title {
  flex: 1;
  // padding: 0;
  // max-width: 300px;
  width: 12%;
  margin: auto;
  // font-family: "times new roman", times, serif;
  // text-align: center;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    width: 22%;
  }
}

.Header__summary {
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

.Header__summary__cart {
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  margin: 0 1em 0 0;
  padding: 0.25em 0.75em;
  border: 1px solid black;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin: 0 1.5em 0 0;
  }
}

.Header__summary__logo {
  position: relative;
  bottom: -2px;
}
