.Header {
  position: relative;
  background: white;
  color: black;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.Header__logo {
  margin: auto;
  width: 12%;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    width: 18%;
    padding: 0.3em 0;
  }
}

.Header__cart {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -12px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  // &:hover {
  //   background-color: lightgray;
  // }
}

.Header__cart__link {
  text-decoration: none;
}

.Header__cart__icon {
  color: black;
  font-size: 20px;
}

.Header__cart__total {
  position: relative;
  color: black;
  top: -40px;
  right: -1px;
  font-weight: bold;
}
