.bm-burger-button {
  position: absolute;
  top: 40%;
  left: 2rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  color: #121212;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f2f2f2;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin: 1em;
  left: 0;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #121212;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 5em 0.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #1c1b1b;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0;
}

/* Individual item */
.bm-item {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  height: auto;
  padding: 1.15em;
  border: 1px solid #ddd;
  border-color: black;
  border-radius: 3px;
  margin-bottom: 0.75em;
  transition: all 150ms ease-in-out;
  span {
    float: right;
    transform: translateX(-12px);
    transition: transform 400ms ease-in-out;
  }
  &:hover {
    color: lightgrey;
    border-color: lightgrey;
    transition: all 150ms ease-in-out;
    span {
      transform: translateX(0px);
      opacity: 1;
      transition: transform 150ms ease-in-out;
    }
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/* My added styles */

.Menu__logo {
  padding: 1.5em 5em;
  display: block;
  border: none !important;
  margin: auto;
}

.Menu__social__buttons {
  border: none;
  text-align: left;
  white-space: break-spaces;
  padding: 0;
  margin: 0;
  li {
    margin: 0.75em 0;
  }
  a {
    display: flex;
    align-items: center;
    color: #121212;
    text-decoration: none;
  }
}
