.Product {
  // margin: 0.25em;
  padding-bottom: 2em;
  text-decoration: none;
  text-align: center;
  color: black;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Product__image {
  padding: 0.5em;
  width: 100%;
  position: relative;
  margin: auto;
  // margin-bottom: 0.6em;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  img {
    width: 100%;
    display: block;
  }
}

// .Product__details {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// redundant styling, already have product__details below

.Product__name {
  text-align: left;
  padding-left: 0.75em;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #585e71;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  color: #000000;
  // text-align: left;
  float: right;
  padding: 0 1em;
}

.Product__type {
  font-size: 0.33em;
  font-weight: normal;
  text-transform: uppercase;
  color: lightgrey;
}

.Product__buy {
  display: block;
  flex: 0;
  text-transform: uppercase;
  min-inline-size: max-content;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(
    to bottom,
    hsla(240, 8%, 15%, 1),
    hsla(240, 8%, 9%, 1)
  );
  // box-shadow: inset 0 1px 0 hsla(255, 255%, 255%, 0.05),
  //   inset 0 0 1px hsla(255, 255%, 255%, 0.1), 0 4px 6px hsla(0, 0%, 0%, 0.85),
  //   0 1px 2px hsla(0, 0%, 0%, 0.9);
  // color: hsla(0, 0%, 87%, 1);
  // font-weight: normal;
  font-size: 117%;
  text-shadow: 0 -1px 1px hsla(0, 0%, 0%, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.2;

  &:hover {
    opacity: 0.8;
  }
}

.Product__out {
  text-align: right;
  text-transform: uppercase;
  background: white;
  padding: 10px 20px;
  color: lightgrey;
  position: relative;
  font-weight: bold;
  font-size: 0.33em;
  cursor: default;

  &:hover {
    text-decoration: none;
  }
}

// Product Template styles

.Product__details {
  margin: 0.25em 1em 10em;
}

.Product__detail__price {
  color: #594157;
  opacity: 0.6;
  // font-weight: bold;
  margin: 1em 0 0.25em;
  padding-left: 0.25em;
}

.Product__detail__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 150%;
  margin: 1em 0 0.1em;
  // margin: 0 0 0.25em;
}

.Product__detail__image {
  margin: 1em 0 0;
  width: 100%;
}

.Product__detail__description {
  margin-bottom: 3em;
  padding: 0.3em;
}
