.snip-layout.snip-layout {
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    // background: black;
    color: lightgrey;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-header {
    background: black;
  }

  .snip-layout__main-container {
    // border: 2px solid black;
    padding: 3px;
  }

  .snip-quantity-trigger__btn--minus {
    &:before {
      line-height: 17px;
    }
  }

  .snip-header__total {
    border-radius: 0;
  }
  .snip-quantity-trigger__btn {
    background-color: transparent;
  }

  .snip-footer {
    background: lightgrey;
  }
}
