.Wrap {
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 300px) {
    padding: 0 0.5em;
  }
  @media screen and (min-width: 600px) {
    padding: 0 0.5em;
  }
  @media screen and (min-width: 900px) {
    padding: 0 0.5em;
  }
}
