.Footer {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  background-color: white;
  color: white;
  background-color: lightgray;

  // .Social__buttons {
  //   display: flex;
  //   justify-content: center;
  //   padding: 1.25em 0 0;

  //   li {
  //     margin: 0 1.5em;

  //     a {
  //       color: black;
  //       font-size: 25%;
  //     }
  //   }
  // }

  .Footer__copyright {
    text-align: center;
    padding: 1em;
    p {
      color: black;
      font-size: 10px;
    }
  }
}
