.Header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $jonquil;
}

.Header__logo {
  margin: auto;
  padding: 0 0 0.5em;
  width: 4em;
}

.Header__cart {
  position: absolute;
  top: 38%;
  right: 2em;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.Header__cart__link {
  text-decoration: none;
  display: inline-flex;
  font-weight: bold;
  font-size: 80%;
  color: #121212;
}

.Header__cart__total {
  color: $oxford-blue;
  font-weight: bold;
}
